<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Image</title>
    <%- include('./partials/head') %>
    <script defer src="form.js"></script>

   
</head>

<body>
    <header class="container">
        <%-  include('./partials/nav') %>
    </header>
   
    <form class="container" action="/add-image-form" method="post">
        <label for="title">Nombre</label>
        <input type="text" name="title" id="title" maxlength="30" pattern="[A-Za-zÀ-ÖØ-öø-ÿ0-9]+(?: [A-Za-zÀ-ÖØ-öø-ÿ0-9]+)*" required>
        <label for="url_photo">Introduce una URL:</label>
        <input type="url" id="url_photo" name="url_photo" required>
        <label for="photo_date">Fecha de la foto:</label>
        <input type="date" id="photo_date" name="photo_date" required>
        <input type="submit" value="Añadir">
    </form>
    <!-- Mostrar un mensaje de confirmación si el usuario acaba de isertar una imagen en la 'base de datos'-->
    <% if (isImagesPosted) { %>
        <div id="message" class="container alert success">Imagen insertada correctamente</div>
        <% } %>

    <!-- Crear aviso de que la fota ya esta en la base de datos -->
    <% if (isImageRepeat) { %>
        <div id="message" class="container alert failed">La imagen ya está en la base de datos</div>
        <% } %>
</body>

</html>